/* General code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "rocksalt";
    src: url(./fonts/RockSalt-Regular.ttf);
}

:root {
    --main-font: "nunito";
}

@font-face {
    font-family: "nunito";
    src: url(./fonts/Nunito-VariableFont_wght.ttf);
}

html {
    font-size: 62.5%;
    font-family: var(--main-font);
}

header {
    display: none;
    height: 15vh;
}

img {
    max-width: 100vw;
}

.half {
    display: none;
    background-color: #DF8480;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/hero.png);
    background-position: center;
    background-size: cover;
}

.title {
    padding: 16px;
}

h1 {
    font-family: "rocksalt";
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.title h2 {
    text-align: right;
    color: #DF8480;
    font-size: 1.6rem;
}

.sec {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.how-it-works {
    height: auto;
}

.top {
    background-color: #DF8480;
    text-align: center;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h3 {
    font-size: 2.2rem;
}

.cont {
    padding: 16px 16px;
}

.steps h4 {
    font-size: 4.8rem;
    color: #DF8480;
    text-align: center;
    margin: 15px;
}

.steps h5 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 16px;
}

.dog {
    background-image: url(./images/dog.jpeg);
    background-size: cover;
    background-position: center;
    height: 141px;
}

.food-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conta {
    margin: 16px;
}

.contcont {
    height: 186px;
    width: 272px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/food.png);
    background-position: center;
    display: flex;
    flex-direction: column;
}

.contcont h5:nth-of-type(2) {
    margin: 25% 0;
    align-self: flex-end;
}

.contcont h5:nth-of-type(3) {
    margin-left: 16px;
    margin-top: auto;
    margin-left: 16px;
}

h5 {
    font-size: 1.6rem;
}

.text {
    font-size: 1.6rem;
    text-align: center;
    padding: 16px 16px 32px 16px;
}

footer {
    height: 395px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 16px;
}

footer h5 {
    text-align: center;
    margin-bottom: 16px;
}

input {
    width: 100%;
    height: 54px;
    background-color: white;
    color: #7B7B7B;
    font-size: 1.6rem;
    border: none;
    border-radius: 74px;
    margin-bottom: 16px;
    text-align: center;
}

button {
    width: 100%;
    height: 54px;
    background-color: white;
    color: #7B7B7B;
    font-size: 1.6rem;
    border: none;
    border-radius: 74px;
    margin-bottom: 16px;
}

.pink {
    background-color: #DF8480;
    color: white;
    margin-bottom: 64px;
}

.last {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.copy {
    display: none;
}



@media only screen and (min-width: 601px) {
    .steps {
        display: flex;
        align-items: last baseline;
        margin: 16px 60px;
    }

    .steps h4 {
        margin: 0px;
    }
    .steps h5 {
        margin: 0 0 0 16px;
        text-align: start;
    }
    article {
        display: flex;
        width: 100vw;
        height: 250px;
 
    }
    .dog {
        width: 50%;
        height: 100%;
    }
    .conta {
        width: 50%;
    }
    .foot-info {
        width: 60%;
    }
    .icons {
     width: 40%;
     justify-content: space-between;
    }
    .last {
        flex-direction: row;
        justify-content: space-between;
        margin: 16px;
    }

}


@media only screen and (min-width: 901px) {
   
    main {
        width: 101%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
   }

   .title h1 {
    display: none;
   }
   
    .half {
        width: 50vw;
        height: 85vh;
        display: inline-block;
    }

    .half div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 24px;
    }

    .half h2{
        font-size: 3.6rem;
        color: white;
        width: 50%;
        text-align: right;
    }
    .hero {
        display: none;
    }

    main div {
        display: flex;
    }
    
    .background {
    display: inline-block;
    width: 50vw;
    height: 85vh;
    background-image: url(./images/hero.png);
    background-position: center;
    background-size: cover;
    }

    .title{
        display: none;
    }

    .cont {
       justify-content: center;
       padding: 0;
    }

    .steps {
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        height: 200px;
        width: 200px;
    }

    .top {
        background-color: white;
        height: 15vh;
    }

    .top h3 {
        font-size: 4.8rem;
        color: #DF8480;
        font-weight: 800;
    }
    .text {
        display: none;
    }

    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        background-color: #DF8480;
        border-radius: 20px;
    }

    .copy p {
        width: 80%;
        text-align: center;
        color: white;
        font-size: 1.6rem;
    }


    .conta {

        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .food-cont {
        height: 100%;
        width: 100%;
        
    }
    .contcont {
        height: 100%;
        width: 1005;
        padding: 30px 0;
    }

    .dog {
        width: 30%;
        border-radius: 20px;
    }

    article {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}


